
:root {
    --base-font-family: STKaiti;
    --base-font-family: 'FiraCode-Regular';
}

:root {
    --first-screen-icon-color-light: #CC6600;
    --first-screen-icon-color-light: #CC9966;
}

:root {
    --first-screen-font-color-light: #FFFFFF;
    --first-screen-font-color-dark: #0099CC;
}

@font-face {
   font-family: 'FiraCode-Regular';
   src: url('../font/FiraCode-Regular.ttf') format('truetype');
   font-weight: normal;
   font-style: normal;
}

.code pre {
  font-family: "FiraCode-Regular", "Monaco", "Consolas", "Courier New", monospace; /* 改为等宽字体，适合代码 */

}